#Submitbutton {
  /* padding-left:50px; */
  /* margin: 30px 0; */
  /* text-align: center; */
  background-color: #1e8783;
  border-radius: 15px;
  width: 25%;
  height: 40%;
  font-family: "Varela Round";
  font-size: 30px;
  color: #ffd87d;
}

#Submitbutton:hover {
  background-color: #85C441;
}

#result-img {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 25px;
  /* -webkit-animation: animationName 4s infinite;
  -moz-animation: animationName 4s infinite;
  -o-animation: animationName 4s infinite;
  animation: animationName 4s infinite; */

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 3s ease-in infinite;
  animation: zoomin 3s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */


#result-text {
  font-size: 38px;
  font-weight: bold;

  font-family: "Varela Round";
  color: #1e8783;

}

#load-image {
  position: relative;
  /* top: 50%;
  left: 50%; */
  width: 60px;
  height: 60px;
  /* margin:-60px 0 0 -60px; */
  -webkit-animation: spin 4s linear infinite;
  /* -webkit-transition: -webkit-transform 15s ease-in; */
  -moz-animation: spin 4s linear infinite;
  animation: spin 0.9s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#load-text {
  font-size: 38px;
  font-weight: bold;
  color: #85c441;
  display: inline-block;
  font-family: "Varela Round";
  -webkit-animation: animationName 2s infinite;
  -moz-animation: animationName 2s infinite;
  -o-animation: animationName 2s infinite;
  animation: animationName 2s infinite;
}

@keyframes animationName {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes animationName {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes animationName {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes animationName {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.searchPanes {
  background: rgb(135, 193, 189);
  color: #812443;
  font-weight: bold;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(190, 49, 49, 0.8);
  border-radius: 4px;
  font-family: "Chivo";
}

.hero-home {
  position: relative;
  height: 450px;
  padding: 20px;
  margin: 0;
  background-image: url("../css/bc-choices.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
  font-size: 28px;
  font-family: "Chivo";
  color: #01abba;
  text-shadow: -3px -3px 0 #812443, 1px -1px 0 #812443, -1px 1px 0 #812443,
    1px 1px 0 #812443;
}

.hero-page2 {
  position: relative;
  height: 450px;
  padding: 20px;
  margin: 0;
  background-image: url("../css/contraception-thoughts.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
  font-size: 28px;
  font-family: "Chivo";
  color: #85c441;
  text-shadow: -3px -3px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.hero-page3 {
  position: relative;
  height: 450px;
  padding: 20px;
  margin: 0;
  background-image: url("../css/bc3.jpg");
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
  font-size: 28px;
  font-family: "Chivo";
  color: #ffd87d;
  text-shadow: -3px -3px 0 #812443, 1px -1px 0 #812443, -1px 1px 0 #812443,
    1px 1px 0 #812443;
}

.hero-page4 {
  position: relative;
  height: 450px;
  padding: 20px;
  margin: 0;
  background-image: url("../css/dude-pill.jpg");
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
  font-size: 28px;
  font-family: "Chivo";
  color: #812443;
  text-shadow: -3px -3px 0 #85c441, 1px -1px 0 #85c441, -1px 1px 0 #85c441,
    1px 1px 0 #85c441;
}

.hero-page5 {
  position: relative;
  height: 450px;
  padding: 20px;
  margin: 0;
  background-image: url("../css/robobc2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
  font-size: 28px;
  font-family: "Chivo";
  color: #01abba;
  text-shadow: -3px -3px 0 #812443, 1px -1px 0 #812443, -1px 1px 0 #812443,
    1px 1px 0 #812443;
}

.hero h1 {
  font-size: 58px;
  font-weight: bold;
  width: 50%;
  display: inline-block;
  font-family: "Chivo";
}

.hero p {
  font-size: 38px;
  font-weight: bold;
  width: 50%;
  display: inline-block;
  font-family: "Chivo";
}

.panel {
  font-size: 18px;
  width: 90%;
  font-family: "Varela Round";
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.panel li {
  font-size: 18px;
  width: 80%;
  font-family: "Varela Round";
}

#wordcloudSpot {
  left: 20%;
  position: absolute;
  /* width: 860px;
  height: 560px !important; */
}

svg#barsvg {
  width: 760px;
  height: 600px;
}

/* .bar_chart {
transform: translate(0px, 500px);
} */

.navbar {
  background-color: #01abba;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "Varela Round";
}

.navbar-nav :hover {
  color: #1e8783;
  background-color: #85c441;
}

#button {
  padding: 15px 0;
  margin: 20px 0;
  margin-left: 30%;
  /* margin-right: auto; */
  background-color: #1e8783;
  border-radius: 15px;
  width: 40%;
  height: 30%;
  font-family: "Varela Round";
}

#button:hover {
  background-color: #85C441;
}

img {
  max-width: 100%;
}

.container {
  background-color: white;
}

.welcomeHeader {
  font-size: 2em;
  padding: 10px;
  font-family: "Chivo";
}

.content {
  float: left;
  width: 60%;
  font-family: "Varela Round";
}

.header {
  font-size: 2em;
  font-family: "Chivo";
  color: #f05179;
  text-shadow: -3px -3px 0 #1e8783, 1px -1px 0 #1e8783, -1px 1px 0 #1e8783,
    1px 1px 0 #1e8783;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sidemenu {
  background-color: #01abba;
  float: right;
  width: 30%;
  padding: 50px;
  font-size: 24px;
  font-weight: bold;
}



.dropdown {
  font-size: 28px;
  font-family: "Chivo";
  color: #1e8783;
}

#intro h2 {
  font-size: 58px;
  font-weight: bold;
  display: inline-block;
  font-family: "Varela Round";
  color: #1e8783;
}

#intro h3 {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  font-family: "Varela Round";
  color: #1e8783;
  width: 55%;
}

#intro3 h2 {
  font-size: 58px;
  font-weight: bold;
  display: inline-block;
  font-family: "Varela Round";
  color: #812443;
}

#intro h1 {
  font-family: "Bungee Shade", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: normal;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  background: linear-gradient(
    -45deg,
    #f05179 25%,
    #1e8783 25%,
    #1e8783 50%,
    #f05179 50%,
    #f05179 75%,
    #1e8783 75%,
    #1e8783
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 20px 20px;
  background-position: 0 0;
  animation: stripes 1s linear infinite;
}

#intro2 h1 {
  font-family: "Bungee Shade", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: normal;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  background: linear-gradient(
    -45deg,
    #ffd87d 25%,
    #2fbcb3 25%,
    #2fbcb3 50%,
    #ffd87d 50%,
    #ffd87d 75%,
    #2fbcb3 75%,
    #2fbcb3
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 20px 20px;
  background-position: 0 0;
  animation: stripes 1s linear infinite;
}

#intro3 h1 {
  font-family: "Bungee Shade", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: normal;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  background: linear-gradient(
    -45deg,
    #ffd87d 25%,
    #85c441 25%,
    #85c441 50%,
    #ffd87d 50%,
    #ffd87d 75%,
    #85c441 75%,
    #85c441
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 20px 20px;
  background-position: 0 0;
  animation: stripes 1s linear infinite;
}

@keyframes stripes {
  100% {
    background-position: 20px 0, 20px 0, 20px 0;
  }
}

.site-nav h3 {
  font-weight: bold;
  font-family: "Varela Round";
}

.site-nav p {
  font-size: 18px;
  font-family: "Varela Round";
}

.site-nav button {
  padding: 15px 0;
  margin: 15px 0;
  background-color: #1e8783;
  border-radius: 15px;
  width: 80%;
  height: 80%;
  font-family: "Varela Round";
}

.site-nav button:hover {
  background-color: #85C441;
  width: 85%;
  height: 85%;
}

@media (max-width: 1200px) {
  /* .d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(190, 49, 49, 0.8);
  border-radius: 4px;
  font-family: 'Chivo';
} */

  .hero-home {
    position: relative;
    height: 320px;
    padding: 10px;
    background-size: 200%;
    background-position: top center;
    font-size: 18px;
  }

  .hero-page2 {
    position: relative;
    height: 320px;
    padding: 10px;
    background-size: 160%;
    font-size: 18px;
    background-position: top center;
    text-align: right;
  }

  .hero-page3 {
    position: relative;
    height: 320px;
    padding: 10px;
    margin: 0;
    background-position: top;
    background-size: 175%;
    text-align: left;
    font-size: 18px;
  }

  .hero-page4 {
    position: relative;
    height: 320px;
    padding: 10px;
    background-size: 165%;
    background-position: top center;
    font-size: 18px;
  }

  .hero-page5 {
    position: relative;
    height: 320px;
    padding: 10px;
    background-size: 200%;
    background-position: top center;
    font-size: 18px;
  }

  .hero h1 {
    font-size: 38px;
    width: 80%;
    /* padding-top: 100px; */
  }

  .hero p {
    font-size: 28px;
    font-weight: bold;
    width: 80%;
  }

  .panel {
    font-size: 18px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  .panel li {
    font-size: 18px;
    width: 80%;
  }

  #wordcloudSpot {
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    position: relative;
    left: -95px;
    /* height: 10px; */
    /* left: 0%;
  padding: 0px; */
    /* margin-left: 0%; */
    /* size: 200px; */
    /* position: relative; */
    /* width: 60px; */
  }

  #barsvg {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    position: relative;
    left: -145px;
  }

  #myChart {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    position: relative;
    left: -50px;
    /* display: inline-block; 
  justify-content: left;
  left: -300px; */
  }

  #button {
    padding: 10px 0;
    margin: 10px 0;
    width: 50%;
    height: 30%;
  }

  #button:hover {
    width: 55%;
    height: 35%;
  }

  .welcomeHeader {
    font-size: 2em;
    padding: 10px;
  }

  .content {
    float: left;
    width: 80%;
  }

  .header {
    font-size: 2em;
    /* font-family: 'Chivo';
  color: #F05179;
  text-shadow:
    -3px -3px 0 #1E8783,
    1px -1px 0 #1E8783,
    -1px 1px 0 #1E8783,
    1px 1px 0 #1E8783; */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .sidemenu {
    background-color: #01abba;
    float: right;
    width: 30%;
    padding: 50px;
    font-size: 24px;
    font-weight: bold;
  }

  #intro h3 {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    font-family: "Varela Round";
    color: #1e8783;
    width: 95%;
  }

  #intro3 h2 {
    font-size: 38px;
  }

  #intro h1 {
    font-size: 80px;
  }

  #intro2 h1 {
    font-size: 80px;
  }

  .site-nav h3 {
    font-size: 24px;
  }

  .site-nav p {
    font-size: 14px;
  }
}


.container-tiles{
  width:100%;
  padding:20px;
  border:5px solid #812443;
  overflow: hidden;
  background:white;
  margin: 20px auto;

  }

.conatiner-tiles ul{
margin:0px;
padding:0px;
}


 #bc-capsule
{
  position: relative;
    top: 5px;
    right: auto;
    text-align:center;
    background-color: #812443;
    color: white;
    bottom: auto;
    left: 0%;
    margin:0px 10px,0,5px;


}
.container-tiles ul li{

    list-style: none;
    float:left;
    width:20%;
    border:1px dashed #bfbfbf;
    height:300px;
    background:white;
    margin:20px 20px 0px 20px;

  }
.container-tiles ul .title{
width: 100%;
height:30%;
line-height: 50px;
background-color:#812443;
opacity: 80%;
text-align: center;
font-size: 3rem;
color:white;

}

.container-tiles ul p{
  
  text-align: center;
  font-size: 1em;
  padding: 2px;
  margin-top:10px;
  
  }
  .banner{
    height:80px;
    width: 100%;
    text-align: center; 
    background-color: #812443;
    border:1px solid white;
    color: white;
    border-radius: 25px;
  }

     
.sidemenu {
background-color: #01ABBA;
float: right;
width: 20%;
padding: 50px;
font-size: 24px; 
font-weight: bold;
}

  
.side_grid_2{
float:left;
width:15%;
font-weight: 100;
text-decoration: 1px dashed black;
border-bottom: 1px dashed #bfbfbf;
background-color: #1E8783;
color:white;

}

ul{
  list-style: none;
  text-decoration: none;
  
    }

footer a {
  color: white;
}

footer a:hover {
  color: #FFD87D;
}
     
footer {
  clear: both;
  text-align: center;
  /* margin: 0px 30px 50px 50px; */
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#1E8783;
  font-family: 'Chivo';
  color: #CCC;
  }

.small_body_copy_italic{
  font-style: italic;
  font-weight: normal;
  font-family: georgia, serif;
  font-size: 13px;
  line-height: 19px;
}

#side_grid ul{
  list-style: none;
  text-decoration: underline;
  border-bottom: 1px dashed #000;
}


.grid_1,
.grid_2,
.grid_3 h3{
  text-align: center;
}

.grid_1,
.grid_2,
.grid_3 {
display: inline-block;
position: relative;
width:25%;
margin-left: 10px;
margin-right: 10px;
border: 1px dashed #bfbfbf;
border-bottom: 1px dashed #bfbfbf;
padding:0;
background-color: none;
text-align: center;
}

.closebtn{
  font-size: 20px;
  float:right;
}


@media (max-width: 500px) {
  /* .d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(190, 49, 49, 0.8);
  border-radius: 4px;
  font-family: 'Chivo';
} */
  /* 
.hero-home {
position: relative;
height: 320px;
padding: 10px;
background-size: 200%;
background-position: top center;
font-size: 18px;  
}

.hero-page2 {
position: relative;
height: 320px;
padding: 10px;
background-size: 160%;
font-size: 18px;  
background-position: top center;
text-align: right;
}

.hero-page3 {
  position: relative;
  height: 320px;
  padding: 10px;
  margin: 0;
  background-position: top;
  background-size: 175%;
  text-align: left;
  font-size: 18px;  
  }

  .hero-page4 {
    position: relative;
    height: 320px;
    padding: 10px;
    background-size: 165%;
    background-position: top center;
    font-size: 18px;  
    } */

  .hero h1 {
    font-size: 32px;
    width: 100%;
    /* padding-top: 100px; */
  }

  .hero p {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
  }

  /* .panel {
  font-size: 18px;  
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
} */

  .panel li {
    font-size: 14px;
    width: 90%;
  }

  #wordcloudSpot {
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    position: relative;
    left: -130px;
    /* height: 10px; */
    /* left: 0%;
  padding: 0px; */
    /* margin-left: 0%; */
    /* size: 200px; */
    /* position: relative; */
    /* width: 60px; */
  }

  #barsvg {
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
    position: relative;
    left: -155px;
  }

  #myChart {
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    position: relative;
    left: -70px;
    /* display: inline-block; 
  justify-content: left;
  left: -300px; */
  }

  /* 
#button {
  padding: 10px 0;
  margin: 10px 0;
  width: 50%;
  height: 30%;
}
    
.welcomeHeader {
font-size: 2em;
padding: 10px;
} */

  /* .content {
float: left;
width: 80%;
} */

  .header {
    font-size: 2em;
    /* font-family: 'Chivo';
  color: #F05179;
  text-shadow:
    -3px -3px 0 #1E8783,
    1px -1px 0 #1E8783,
    -1px 1px 0 #1E8783,
    1px 1px 0 #1E8783; */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* .sidemenu {
background-color: #01ABBA;
float: right;
width: 30%;
padding: 50px;
font-size: 24px; 
font-weight: bold;
} */

  /* #intro h3 {
  font-size: 18px;  
  font-weight: bold;
  display: inline-block;
  font-family: 'Varela Round';
  color: #1E8783;
  width: 95%;
} */

  #intro3 h2 {
    font-size: 38px;
  }

  #intro h1 {
    font-size: 65px;
  }

  #intro2 h1 {
    font-size: 65px;
  }

  .site-nav h3 {
    font-size: 14px;
  }

  .site-nav p {
    font-size: 14px;
  }
}
