<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Birth Control Review</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bungee+Shade'rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>

    <link rel="icon" type="image/png" href="../static/css/iud_loading.png">

</head>

<body>
    <div class="wrapper">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

              </button>               
              </div>
                      <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li ><a href="/table"><span class="glyphicon glyphicon-list-alt"></span> User Reviews</a></li>
                    <li><a href="/side_effects"><span class="glyphicon glyphicon-th-large"></span> Side Effects Analysis</a></li>
                    <li ><a href="/news"><span class="glyphicon glyphicon-bullhorn"></span> Recent News</a></li>
                    <li><a href="/predictions"><span class="glyphicon glyphicon-eye-open"></span> Predictions</a></li>
                    <!-- <li><a href="/team"><span class="glyphicon glyphicon-user"></span> Team</a></li> -->
                </ul>              
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </nav>
     
            <br>
            <br>
            <div class="hero hero-home text-center">
                    <!-- <br><br> -->
                <h1>Birth Control Review</h1>
                <br>
                <p>Exploring the side effects</p>
              </div>
                 
            <br>
            <br>


                <!-- Page content -->
                <div class="container">
                    <div id="intro">
                    <div class="text-center">
                    <h2>Welcome to the wide world of</h2><br>

                    <h1 data-heading="Slide">Birth Control</h1>

                    <h3>We know it can be overwhelming to find a method that works for you, so we’re here to help.</h3><br>
                            
                    <h3>Using birth control can come with unwelcome side effects. 
                    The pamphlets in your OB/GYN’s office don’t always paint a clear picture of how it
                    might affect your life. That’s why we’ve parsed through thousands of user reviews to learn 
                    about the real experiences of using different birth control methods.</h3><br>
                    
                    <h3>Choose an option below to begin exploring:</h3><br>
                    
                    <!-- Check out real user reviews, sort through the various methods of female contraception, and search for comments about specific side effects.
                    Delve into our analysis of the birth control experience. Learnt which side effects appear to be most common for each method, which options users are most satisfied with, and which options fall behind.
                    What does the future of contraception look like? -->
                </div>

                    <!-- <div class="row">
                        <section id="wrapper">

                            
                
                            <article>
                                <p>
                                    Accoding to a survey by the Center for Disease Control, two-thirds of women of child bearing age are using some form of contraception.
                                While this includes non-medicinal methods such as condoms or surgical sterilization, a huge portion of those women are using medications as their method of birth control.
                            These medications are know for having a wide array of side effects, often having a significant impact on the users life. 
                        Information dispersed by pharmaceutical companies and medical professionals is often vague and generalized. While the side effects listed for each method of birth control
                    often look identical to each other, the actual usesr experience can vary significantly. We wanted to look at user reviews to gauge if the actual user experience on the different available 
                    birth control methods differed from each other, and if there were any options that were noticable better or worse than others. We decided to collect user reviews for various methods of birth control, to see if we could analyze feedback 
                    provided by women and discover trends that arise within the reported experiences women have with each birth control option currently on the market. </p> <br>
                                     
                                <p>
                                     We scraped our data from two sites, EverydayHealth.com and Drugs.com, and used the information collected for the rest of our analysis<br>
               
                                </p>
                
                            </article>
                        </section>
                
                    </div> -->
                
                    <br><br>
                    
                    </div>

                    <div class="row" style="text-align: center">
                        <div class="site-nav">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                            <a href="/table"><h3><em>User Reviews</em></h3></a>
                            <a href="/table"><button><img src="../static/css/contraception-thoughts-button.jpg" /></button></a>
                            <p><em>Check out real user reviews, sort through the various methods of female contraception, 
                                    and search for comments about specific side effects.</em></p>
                                </div>

                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <a href="/side_effects"><h3><em>Side Effect Analysis</em></h3></a>
                                <a href="/side_effects"><button><img src="../static/css/bc3-button.jpg" /></button></a>
                                <p><em>Delve into our analysis of the birth control experience. Learn which side effects 
                                        are mentioned the most for each method, which options users are most satisfied with, and 
                                        which options fall behind.</em></p>
                                    </div>

                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <a href="/news"><h3><em>Recent News</em></h3></a>
                                    <a href="/news"><button><img src="../static/css/dude-pill-button.jpg" /></button></a>
                                    <p><em>What does the future of contraception look like?</em></p>
                                        </div>

                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <a href="/predictions"><h3><em>Predictions</em></h3></a>
                                            <a href="/predictions"><button><img src="../static/css/theVillain-button.jpg" /></button></a>
                                            <p><em>Can our AI guess your birth control?</em></p>
                                                </div>
                                </div>
                            </div>
  
<hr>
        
</div>
</div>
<br>
<br>
<br>
<br>

<div class="container">               
        <div class="row">
            <div class="banner">

               <h2> Choose any method and create a side by side comparison</h2>
               <br>
            </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button id="button" title="Combination Pill" value='Combination Pill' onclick="openTab('Combination Pill');">
                        <img src="../static/css/combination_patch_glyph2.png" />
                    </button>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button id="button" title="Progestin Pill" value='Progestin Pill' onclick="openTab('Progestin Pill');">
                        <img src="../static/css/progestin_patch_glyph2.png" />
                    </button>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button id="button" title="Hormonal IUD" value='Hormonal IUD' onclick="openTab('Hormonal IUD');">
                        <img src="../static/css/hormonal_iud_glyph_.png" />
                    </button>
                </div>


                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button id="button" title="Non Hormonal IUD" value='Non Hormonal IUD' onclick="openTab('Non Hormonal IUD');">
                        <img src="../static/css/non_hormonal_iud_glyph.png" />
                    </button>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button id="button" title="Ring" value='Ring' onclick="openTab('Ring');">
                            <img src="../static/css/ring_glyph.PNG" />
                    </button>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button id="button" title="Shot" value='Shot' onclick="openTab('Shot');">
                        <img src="../static/css/shot_glyph.PNG" />
                    </button>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button id="button" title="Patch" value='Patch' onclick="openTab('Patch');">
                        <img src="../static/css/patch_glyph.PNG" />
                    </button>
                </div>
                
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button id="button" title="Implant" value='Implant' onclick="openTab('Implant');">
                            <img src="../static/css/implant_glyph.PNG" />
                    </button>
                </div>
            </div>
        </div>
<br>
        <div class="container">
                <div class="side_grid_2 " style="height : 630px;">
                         <div class="upper_left_space" style="height: 35px;">
                             <ul id="side_grid">
                             <li class="Description" style="height: 260px;"></li>
                                 <span class="small_body_copy_italic" style="font-size: 14px; font-weight: bold; text-align: center"> Description:</span>

                                 <li  class="Medical_procedure" style="height: 65px;"></li>
                                 

                  
                                 <li class="Effectiveness" style="height: 30px;"></li>
                                 <span class="small_body_copy_italic" style="font-size: 14px; font-weight: bold; text-align: center"> Effectiveness:</span>
                                 <!-- <li class="Action_Ready" style="height: 20px;"></li>
                                 <span class="small_body_copy_italic"> Ready for Action:</span> -->
         
                                 <li  class="How much" style="height: 30px;"></li>
                                 <span class="small_body_copy_italic" style="font-size: 14px; font-weight: bold; text-align: center"> Cost:</span>
         
                                 <li  class="Duration" style="height: 30px;"></li>
                                  <span class="small_body_copy_italic" style="font-size: 14px; font-weight: bold; text-align: center"> Frequency:</span>
         
                                 <!-- <li class="Safe_for_new_moms" style="height: 20px;"></li>
                                 <span class="small_body_copy_italic"> New Mom Certified?:</span>
         
                                 <li class="Fool Proof" style="height: 20px;"></li>
                                 <span class="small_body_copy_italic"> Fool Proof:</span> -->


                                 <li  class="Medical_procedure" style="height: 20px;"></li>
                                 <span class="small_body_copy_italic" style="font-size: 14px; font-weight: bold; text-align: center"> Medical Procedure:</span>

                                 <li  class="Rating" style="height: 20px;"></li>
                                 <span class="small_body_copy_italic" style="font-size: 14px; font-weight: bold; text-align: center"> Average User Rating (1-5):</span>
<!--         
                                <li class="Prescription_needed" style="height: 25px;"></li>
                                <span class="small_body_copy_italic"> Prescription required?:</span> -->
         
                                 <!-- <li  class="STI_Prevention" style="height: 23px;"></li>
                                 <span class="small_body_copy_italic"> STI Prevention:</span>
         
                                  <li  class="Helps_with_period" style="height: 23px;"></li>
                                 <span class="small_body_copy_italic"> Aids Menstrual Cycle:</span> -->
                         </ul>
                         </div>
                     </div>
         
                         <!-- 4-width columns: (hidden by default) -->
                         <!----Combination Pill-->
                         <div class="row">
                             <div class="grid_1" id="grid_1" style="height: 630px; display:visible" >
                                 <h3> Method #1</h3>
                                 <span onclick="closeTab(1)" class="closebtn">&times;</span>
                                 <h2 id="title_1"></h2>
                                 <p id="description_1">
                                 </p>
                                 <p id="fact_1_1"></p>
                                 <p id="fact_1_2"></p>
                                 <p id="fact_1_3"></p>
                                 <p id="fact_1_4"></p>
                                 <p id="fact_1_5"></p>
                                 <p id="fact_1_6"></p>
                                 <!-- <p id="fact_1_7"></p>
                                 <p id="fact_1_8"></p>
                                 <p id="fact_1_9"></p>
                                 <p id="fact_1_10"></p>
                                 <p id="fact_1_11"></p> -->
                             </div>
         
         
                             <div class="grid_2" id="grid_2" style="height: 630px; display:visible" >
                                 <h3> Method #2</h3>
                                 <span onclick="closeTab(2)" class="closebtn">&times;</span>
                                 <h2 id="title_2"></h2>
                                 <p id="description_2">
                                 </p>
                                 <p id="fact_2_1"></p>
                                 <p id="fact_2_2"></p>
                                 <p id="fact_2_3"></p>
                                 <p id="fact_2_4"></p>
                                 <p id="fact_2_5"></p>
                                 <p id="fact_2_6"></p>
                                 <!-- <p id="fact_2_7"></p>
                                 <p id="fact_2_8"></p>
                                 <p id="fact_2_9"></p>
                                 <p id="fact_2_10"></p>
                                 <p id="fact_2_11"></p> -->
                             </div>
         
                             <div class="grid_3" id="grid_3" style="height: 630px; display:visible" >
                                 <h3> Method #3</h3>
                                 <span onclick="closeTab(3)" class="closebtn">&times;</span>
                                 <h2 id="title_3"></h2>
                                 <p id="description_3">
                                 </p>
                                 <p id="fact_3_1"></p>
                                 <p id="fact_3_2"></p>
                                 <p id="fact_3_3"></p>
                                 <p id="fact_3_4"></p>
                                 <p id="fact_3_5"></p>
                                 <p id="fact_3_6"></p>
                                 <!-- <p id="fact_3_7"></p>
                                 <p id="fact_3_8"></p>
                                 <p id="fact_3_9"></p>
                                 <p id="fact_3_10"></p>
                                 <p id="fact_3_11"></p> -->
                             </div>
                         </div>
                    </div>
                </div>
            
                <br><br><br><br>

                <footer>
                        <p>The George Washington University Data Science Boot Camp : Birth Control Team</p>
                        <p><a href="https://www.linkedin.com/in/alyzawiener/" target="_blank">Alyza Wiener</a></p>
                        <p><a href="https://www.linkedin.com/in/aaron-woo-9b996925/" target="_blank">Aaron Woo</a></p>
                        <p><a href="https://www.linkedin.com/in/david-bear-edwards/" target="_blank">David Edwards</a></p>
                        <p><a href="https://www.linkedin.com/in/deborah-aina-59563587/" target="_blank">Deborah Aina</a></p>
                    </footer>
                
                                
                
                        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                        crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
                
                        <script src="{{ url_for('static', filename='js/geninfo.js') }}"></script> 
                </body>
                
                </html>