<html>
<head>
  <title>User Reviews</title>

  <link rel="shortcut icon" href="">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>

  <link rel="icon" type="image/png" href="../static/css/iud_loading.png">

</head>

<body>
    <div class="wrapper">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
    
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>

              </button>               
              </div>
       
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li ><a href="/table"><span class="glyphicon glyphicon-list-alt"></span> User Reviews</a></li>
                    <li><a href="/side_effects"><span class="glyphicon glyphicon-th-large"></span> Side Effects Analysis</a></li>
                    <li ><a href="/news"><span class="glyphicon glyphicon-bullhorn"></span> Recent News</a></li>
                    <li><a href="/predictions"><span class="glyphicon glyphicon-eye-open"></span> Predictions</a></li>
                    <li><a href="/team"><span class="glyphicon glyphicon-user"></span> Team</a></li>
                </ul>              
              </div>
         
            </div>
      
          </nav>
          
					<br>
					<br>
					<div class="hero hero-page2 text-center">
							<h1>User Reviews</h1>
							<br>
							<p>Let's take a look</p>
									</div>
								</div>
							</div>
            </div>
            <br> 

            <div class="container">
                <div class="row" style="text-align: center">
            <img id="load-image" src="../static/css/iud_loading.png" alt="loadIUD" width="60" height="60"><br><br>
            <p id="load-text">Loading Table...</p>
          </div> </div>


            <div class="container">
                <div id="intro">
                <div class="text-center">
        <h2 style="font-size:28px">See what people are saying about their birth control. You can use the search and filter tools to narrow your selections. 
          These reviews were scraped from
            <a href = "https://http://everydayhealth.com">Everyday Health</a> and <a href = "https://http://drugs.com">Drugs.com</a>, 
              where users can leave reviews for all kinds of medications.</h2>
            
        </div>
    </div>
</div>
          <br>


          <div class="container">
            
            <!-- <div class ="searchPanes" style="background: #FFD87D; color: #812443"></div> -->
            <div class ="searchPanes"></div>
            <br>

            <table id="mytable" class="display table-striped">
                <thead>
                    <tr>
                            <th class="table-head">Method</th>
                            <th class="table-head">Brand</th>
                            <th class="table-head">User Rating</th>
                            <th class="table-head">Vader Scale</th>
                            <th class="table-head">User Review</th>
                            <th class="table-head">Use</th>
                            <th class="table-head">Date Published</th>
                            <th class="table-head">Source</th>
                    </tr>
            
                    </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br><br>

  <footer>
          <p>The George Washington University Data Science Boot Camp : Birth Control Team</p>
          <p><a href="https://www.linkedin.com/in/alyzawiener/" target="_blank">Alyza Wiener</a></p>
          <p><a href="https://www.linkedin.com/in/aaron-woo-9b996925/" target="_blank">Aaron Woo</a></p>
          <p><a href="https://www.linkedin.com/in/david-bear-edwards/" target="_blank">David Edwards</a></p>
          <p><a href="https://www.linkedin.com/in/deborah-aina-59563587/" target="_blank">Deborah Aina</a></p>
      </footer>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

  <script src="static/js/table.js"></script>
</body>

</html>


