<html>
<head>
  <title>Data Table</title>

  <link rel="shortcut icon" href="">
  <!-- Import JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Import DataTables -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

  <!-- Import Search Panes -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js"></script>


</head>

<body>
    <div class="wrapper">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>

              </button>               
              </div>
                      <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="/"><span class="glyphicon glyphicon-home"></span> Birth Control Review</a></li>
                    <li ><a href="/table"><span class="glyphicon glyphicon-list-alt"></span> User Reviews</a></li>
                    <li><a href="/side_effects"><span class="glyphicon glyphicon-th-large"></span> Side Effects Analysis</a></li>
                    <li ><a href="/news"><span class="glyphicon glyphicon-bullhorn"></span> Recent News</a></li>
                    <li><a href="/predictions"><span class="glyphicon glyphicon-eye-open"></span> Predictions</a></li>
                    <li><a href="/team"><span class="glyphicon glyphicon-user"></span> Team</a></li>
                </ul>              
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </nav>
          
					<br>
					<br>
					<div class="hero hero-page2 text-center">
							<h1>User Reviews</h1>
							<br>
							<p>Let's take a look</p>
									</div>
								</div>
							</div>
            </div>
            <br>
            <br>      




            <h1>Search Through the Filter Table</h1>

            <!--Define class for Search Panel options -->
            
            
            <!-- Set up table -->
            
            <div class ="searchPanes" style="background:grey"></div>

            <table id="mytable" class="display table-striped">
                <thead>
                    <tr>
                            <th class="table-head">Method</th>
                            <th class="table-head">Brand</th>
                            <th class="table-head">User Rating</th>
                            <th class="table-head">Vader Scale</th>
                            <th class="table-head">User Review</th>
                            <th class="table-head">Use</th>
                            <th class="table-head">Date Published</th>
                            <th class="table-head">Source</th>
                    </tr>
            
                    </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- <footer class="footer">
      <span class="bottom"></span>Birth Control
    </footer> -->
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <!-- <script src="static/js/data.js"></script> -->
  <script src="static/js/table.js"></script>
</body>

</html>
