<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>

    <link rel="icon" type="image/png" href="../static/css/iud_loading.png">

</head>

        <div class="wrapper">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
    
                  </button>               
                  </div>
                          <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li ><a href="/table"><span class="glyphicon glyphicon-list-alt"></span> User Reviews</a></li>
                        <li><a href="/side_effects"><span class="glyphicon glyphicon-th-large"></span> Side Effects Analysis</a></li>
                        <li ><a href="/news"><span class="glyphicon glyphicon-bullhorn"></span> Recent News</a></li>
                        <li><a href="/predictions"><span class="glyphicon glyphicon-eye-open"></span> Predictions</a></li>
                        <!-- <li><a href="/team"><span class="glyphicon glyphicon-user"></span> Team</a></li> -->
                    </ul>              
                  </div>
                  <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
              </nav>

            <div class="header ">
                <div class="welcomeHeader">Meet the Team</div>
                <img src="static/css/theVillain.jpg">
                </div>

                <br><br>

                <section class="container">
                    <section class="content">
                    
                        <h1>About Us</h1>
                        <p>Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing</a> elit. Aenean commodo ligula eget dolor.</p>
            <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.<br>
             Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
            <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
            Phasellus viverra nulla ut metus varius laoreet.<span><a href="mailto:testemail.com Subject= message"> Deborah's email.com</a></span>.<br>
            
            Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. 
            Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. 
            Maecenas nec odio et ante tincidunt tempus. 
            Donec vitae sapien ut libero venenatis faucibus. 
            </p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
            Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,

            </p>
            <p>Aenean massa. <span><a href="mailto:testemail.com Subject= message"> Aaron's email.com</a></span>.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. 
            Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. <br>
            <span><a href="mailto:testemail.com Subject= message"> David's email.com</a></span>
            
            Maecenas nec odio et ante tincidunt tempus. 
            Donec vitae sapien ut libero venenatis faucibus. 
            </p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
            Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
              
            
        </p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
        Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
            </p>
            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <span><a href="mailto:testemail.com Subject= message"> Alyza's email.com</a></span> Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
            <p>Maecenas nec odio et ante tincidunt tempus. 
            Donec vitae sapien ut libero venenatis faucibus. >Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
            Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
            Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
            Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
        
        
        
        </section>



                    <aside class="sidemenu">
                        <p>Alyza Wiener
                            <br><img src="../static/css/alyza.jpg"></p>
                        <p>Deborah Aina
                            <br><img src="../static/css/deborah.jpg"></p>
                        <p>Aaron Woo
                            <br><img src="http://placehold.it/250x150"></p>
                        <p>David Edward
                     <br><img src="../static/css/david.jpg"></p>


                       <!-- <div id="sidebar">
                            <section id="contact" class="section">
                                <h2>Contact US</h2>
                                <article>
                                    <form>
                                    <h5>Contact form
                                        </h5>
                                        <div class="form-group">
                                            
                                     <label for="Name">Name:</label>
                                                <input id="Name" name="Name" type="text" placeholder="Name" class="form-control">
                                    </div>
                                            
                                    <label for="Email">Email:</label>
                                    <input id="Email" name="Email" type="email" placeholder="Email" class="form-control">
                                        
                                            
                                    <label for="Message">Message:</label>
                                    <textarea id="Message" name="Message" rows="5" cols="50"></textarea>
                                    <div class="row">
                            <button type="submit" class="btn btn-primary">Submit</button>
                     </div> -->
                </form>
            </aside>

        </section>
        <!-- <footer id="footer">Birth Control Team</footer> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    
    </body>
</html>